.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.user-container {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 5px;
}

.header-username {
}

.logout-btn {
  background-color: rgb(250, 150, 38);
  color: #f8f8f2;
  font-size: 12px;
  width: 60px;
  height: 24px;
  border-style: none;
  outline: none;
  border-radius: 2px;
  align-self: flex-end;
}

