.item-list {
  display: flex;
  align-items: center;
  width: 200px;
  height: 80px;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 1px #f8f8f2;
  border-radius: 2px;
  padding: 10px;
  margin: 0 15px 15px 0;
}

.initial {
  background-color: rgb(255, 150, 38);
  font-size: 16px;
  color: #f8f8f2;
  width: 35px;
  border-radius: 25px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #f8f8f2;
  height: 100%;
}

.list-content > p {
  font-size: 12px;
  margin: 2px;
}

.password-stars {
  width: 86px;
  height: 10px;
  margin: 8px 2px 2px;
}

.del-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-style: none;
  outline: none;
  margin-left: auto;
}

.del-btn > i {
  color: #f8f8f2;
  width: 20px;
  height: 20px;
}
