.login-page-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: #44475a;
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-title-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.login-title{
  font-size: 4rem;
}

.login-text{
  text-align: start;
  font-size: 1.5rem;
  width: 300px;
  font-style: italic;
  font-weight: 100;
}

.login-fields {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
  height: auto;
  justify-content: space-between;
  background-color: #3a3f79;
  border-radius: 5px;
  row-gap: 12px;
}

.login-form > hr {
  background-color: #f8f8f2;
  border-style: none;
  height: 1px;
  width: 100%;
  margin: 0;
}

.signup-field {
  margin-bottom: 16px;
}

.login-btn {
  width: 100%;
}

.sign-up-text {
  align-self: center;
}

.sign-up-btn {
  width: 70%;
  align-self: center;
}

.login-page-img {
  width: 270px;
}

