* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 100px;
  height: 100%;
  max-width: 1280px;
  width: 100%;
}
